<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.coopeagro.listener.ConfigurationLoadListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletAgricultor</servlet-name>
        <servlet-class>org.coopeagro.servlets.AgricultorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProducto</servlet-name>
        <servlet-class>org.coopeagro.servlets.ProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>org.coopeagro.servlets.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCompra</servlet-name>
        <servlet-class>org.coopeagro.servlets.CompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleado</servlet-name>
        <servlet-class>org.coopeagro.servlets.EmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInventario</servlet-name>
        <servlet-class>org.coopeagro.servlets.InventarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPagoCompra</servlet-name>
        <servlet-class>org.coopeagro.servlets.PagoCompraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPagoVenta</servlet-name>
        <servlet-class>org.coopeagro.servlets.PagoVentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVenta</servlet-name>
        <servlet-class>org.coopeagro.servlets.VentaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInicioSesion</servlet-name>
        <servlet-class>org.coopeagro.servlets.InicioSesionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAgricultor</servlet-name>
        <url-pattern>/Agricultor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProducto</servlet-name>
        <url-pattern>/Producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCompra</servlet-name>
        <url-pattern>/Compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleado</servlet-name>
        <url-pattern>/Empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInventario</servlet-name>
        <url-pattern>/Inventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPagoCompra</servlet-name>
        <url-pattern>/PagoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPagoVenta</servlet-name>
        <url-pattern>/PagoVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVenta</servlet-name>
        <url-pattern>/Venta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/InicioSesion.jsp</welcome-file>
    </welcome-file-list>
</web-app>
